POSTGRES_PASSWORD=insighthub_dev
DATABASE_URL_SYNC=postgresql://insighthub:insighthub_dev@postgres:5432/insighthub


JIRA_URL=https://yassinechidmi203.atlassian.net/jira/software/projects/IH
JIRA_USER=yassinechidmi203@gmail.com
JIRA_API_TOKEN=ATCTT3xFfGN0E9lpDZokiAlxG2zM5-IXS8NjjZFDq3Np8j9m_lRLv5sc-tA5uOwAW-vBcCga4BFqIboYKVC2i2A2BzYwcx6UDmVf2SENxQk8TyAn7NgklnPf0v-if_KqIBKE4qC78_aPajtkWaZqQIJrefKtoOoozFQYO5RlshuQkAw8IO5S9Cg=66FAC74A
JIRA_PROJECT_KEYS=IH
JIRA_MAX_RESULTS=100



# USE_BEDROCK=false
GROQ_API_KEY=key 
GROQ_MODEL=llama-3.1-8b-instant
RAG_TOP_K=5
RAG_MIN_SIMILARITY=0.1

# AWS Bedrock 
USE_BEDROCK=true


AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=id
AWS_SECRET_ACCESS_KEY=key
BEDROCK_EMBEDDING_MODEL=amazon.titan-embed-text-v2:0

